-# ページのヘッダー部分
.confirmation-header
  %h1
    =link_to "#", class: "confirmation-heade__link" do
      = image_tag '/confirmation-mercarilogo.svg', size: "", alt: "confirmation-mercarilogo" , class: 'confirmation-header__link__mercarilogo'

-# 他cssとの干渉を避けるため、全体をラップする
.wrapper
  -# 登録方法選択画面
  .contents
    .contents__head
      新規会員登録
    .contents__btn
      =link_to "/signup/step1", class:"contents__btn contents__btn--1" do
        %i.far.fa-envelope
        メールアドレスで登録する
      =link_to "aaa", class:"contents__btn contents__btn--2" do
        %i.fab.fa-facebook-square
        Facebookで登録する
      =link_to "aaa", class:"contents__btn contents__btn--3" do
        = image_tag '/signup-google-color-logo.png', size: "", alt: "google-color-logo" , class: 'googlelogo'
        Googleで登録する
        



-# ページのフッター部分
%footer.confirmation-footer
  %ul.confirmation-footer-container
    %li.confirmation-footer-container__list
      =link_to '#', class: 'confirmation-footer-container__list__info' do
        プライバシーポリシー
    %li.confirmation-footer-container__list
      =link_to '#', class: 'confirmation-footer-container__list__info' do
        メルカリ利用規約
    %li.confirmation-footer-container__list
      =link_to '#', class: 'confirmation-footer-container__list__info' do
        特定商取引に関する表記

    = image_tag '/mercari-logo-gray.svg', size: "", alt: "mercari-logo-gray" , class: 'confirmation-footer-container__image'

  .confirmation-footer-container__footer-text
    ©︎2019 Mercari