%aside.advertisement
  .advertisement-container
    .advertisement-text-container
      .advertisement-text-container__up-side
        スマホでかんたんフリマアプリ
      .advertisement-text-container__down-side
        今すぐ無料ダウンロード!

    .advertisement-image-container
      %img.advertisement-image-container__mercari{alt: "mercarilogo", src: "/mercari-logo.png"}
      %img.advertisement-image-container__apple{alt:"applelogo", src:"/mercari_apple-logo.svg"}
      %img.advertisement-image-container__google{alt:"googlelogo", src:"/mercari_google-logo.svg"}

    .advertisement-free-image-container
      %img.advertisement-free-image-container__free{alt:"googlelogo", src:"/mercari_aside2.png"}

