.bread_crumbs
  %li.bread_crumbs__line
    =link_to "#", class:"bread_crumbs__line__mercari" do
      メルカリ
    %i.fas.fa-chevron-right
    =link_to "#", class:"bread_crumbs__line__category" do
      カテゴリー一覧
    %i.fas.fa-chevron-right
    =link_to "#", class:"bread_crumbs__line__category" do
      レディース
    %i.fas.fa-chevron-right
    =link_to "#", class:"bread_crumbs__line__category" do
      トップス
    %i.fas.fa-chevron-right
    =link_to "#", class:"bread_crumbs__line__category" do
      Tシャツ/カットソー(半袖/袖なし)