=render 'shared/main_page_header'


-# https://www.mercari.com/jp/mypage/card/ クレジット登録画面1
.credit-enter-wrapper
  =render 'shared/profile-sidebar'

  .credit-box
    %section.credit-chapter-container
      %h2.credit-chapter-container__head
        支払い方法
      .credit-chapter-container__inner
        %section
          .credit-chapter-container__inner__content
            クレジットカード一覧
        %section.credit-chapter-container__inner__setting
          =link_to mypage_credit_register_path, class: "credit-chapter-container__inner__setting__btn btn-default btn-red submit_button" do
            %i.fas.fa-credit-card
            クレジットカードを追加する
      .credit-chapter-container__regist
        =link_to "#", class: "credit-chapter-container__regist__way" do
          %span 支払い方法について
          %i.fas.fa-chevron-right

.credit-enter-footer
  = render 'shared/aside'
  = render 'shared/footer'