.goods_delete_popup_box
  .goods_delete_popup_box__head
  　　本当に削除しますか？
  %ul.goods_delete_popup_box__option
    %li.goods_delete_popup_box__option__cancel
      キャンセル
    %li.goods_delete_popup_box__option__delete
      削除


