.login-header-wrapper
  .login-header-wrapper-header
    %h1
      = link_to root_path do
        =image_tag '/login-header-mercari.svg',width: 185, height: 49
    -# active_redは赤丸表示、afterはactiveより後（右側）の線を定義、beforeはactiveより前（左側）before_red after_redと定義すると赤色に変わるようにした。
    %nav.signup-bar
      %ol.clearfix
        %li.active_red
          会員情報
          .status
            .after
        %li 
          電話番号認証
          .status
            .before
            .after
        %li 
          お届け先住所入力
          .status
            .before
            .after
        %li 
          支払い方法
          .status
            .before
            .after
        %li 
          完了
          .status
            .before
          

