-# 〜〜〜〜〜ここからヘッダー（上段）エリア〜〜〜〜〜
.main-page-header-wrapper
  .header
    = form_with(class: 'header__main') do |f|
      .header__upper
        -# メルカリロゴ部分
        .header__upper__left

          =link_to root_path, class: 'header__upper__left__a' do
            = image_tag '/merucari logo.svg', alt: 'Mercari', class: 'header__upper__left__img'
        
        -# 検索ボックス部分
        %form.header__upper__right
          =f.text_field nil, class: 'header__upper__right__in', url: "#", placeholder: "何かお探しですか？" 
          %i.fas.fa-search.header__upper__right__icon

      -# カテゴリ、ブランドアイコン部分
      .header__under
        .header__under__left
          =link_to '#' , id: 'category-list-box' do
            %i.fas.fa-list-ul.header__under__left__list-icon
              .header__under__left__list-icon__text 
                カテゴリーから探す
          
          =link_to '#', id: 'brand-list-box'do
            %i.fas.fa-tags.header__under__left__tag-icon
              .header__under__left__tag-icon__text
                ブランドから探す

        -# 新規登録、ログイン部分。ユーザーログイン時のビューは未実装(神山)
        .header__under__right

         
        .header__under__right__register-button
          - if user_signed_in?
            =link_to destroy_user_session_path, method: :delete, class: 'header__under__right__2__2' do
              マイページ
          - else
            =link_to new_user_registration_path, class:"header__under__right__register-button__text" do
              新規会員登録
            =link_to user_session_path,  class:"header__under__right__login-button__text" do
              ログイン
          = current_user.username if user_signed_in?


          -# .header__under__right__register-button
          -#   =link_to tests_signup_path, class: 'header__under__right__register-button__text' do
          -#     新規会員登録
          -# .header__under__right__login-button
          -#   =link_to tests_signup_path, class: 'header__under__right__login-button__text' do
          -#     ログイン

          -# -# 仮置きのマイページ遷移テキスト。ユーザーログイン時に表示(神山)
          -# =link_to tests_logout_path, class: "header__under__right__sprint-review" do
          -#   = current_user.username if user_signed_in?

