%main.l-container.clearfix
  .l-content
    %section.mypage-tab-container-notification-todo 
      %ul.mypage-tabs
        %li.active
          %h3
            =link_to "#"
              お知らせ
        %li.
          %h3
            =link_to "#"
              やることリスト
      .tab-content
        %ul#mypage-tab-notification.mypage-item-list.tab-pane.active
          

              
