.header
  render

.main
  %section.main-content
    %h2.main-content__header
      電話番号の確認
    %form
      .form-content
        .form-group
          %label
            携帯電話の番号
          %input{name: "phone_number", placeholder: "携帯電話の番号を入力", type: "tel", class: "phone-number"}
        %p 本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
        %button SMSを送信する
        %p ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
        .form-text
          %a 電話番号の確認が必要な理由
          %i.fas.fa-chevron-right