-# ページのヘッダー部分
.confirmation-header
  %h1
    =link_to "#", class: "confirmation-heade__link" do
      = image_tag '/confirmation-mercarilogo.svg', size: "", alt: "confirmation-mercarilogo" , class: 'confirmation-header__link__mercarilogo'