%main.l-container.clearfix
  .l-content
    %section.mypage-tab-container
      %h2.mypage-tab-head 
        購入した商品
      %ul.mypage-tabs
        %li.active
          %h3
            =link_to "#" do
              取引中
        %li.
          %h3 
            =link_to "#" do
              過去の取引
      .tab-content
        %ul#mypage-tab-transaction-now.mypage-item-list.tab-pane
          %li.mypage-item-not-found.bold
            取引中の商品がありません

        %ul#mypage-tab-transaction-old.mypage-item-list.tab-pane.active
          %li
            =link_to "#", class: "mypage-item-list" do
              %figure
                = image_tag '/goods_sample_3.jpg', size: "", alt: "" , class: 'lazyloaded'
              .mypage-item-body
                .mypage-item-text
                  「偽物にんにくサプリメント」を購入しました。
                     %span
                       取引が完了しました
                .mypage-item-status.bold.done
                  取引完了
              %i.icon-arrow-right 
                \::before
          %li
            =link_to "#", class: 'mypage-item-list' do 
              %figure
                = image_tag '/goods_sample_3.jpg', size: "", alt: "" , class: 'lazyloaded'
              .mypage-item-body
                .mypage-item-text
                  「偽物にんにくサプリメント」を購入しました。
                     %span
                       取引が完了しました
                .mypage-item-status.bold.done
                  取引完了
              %i.icon-arrow-right 
                \::before
          %li
            =link_to "#", class: 'mypage-item-list' do 
              %figure
                = image_tag '/goods_sample_3.jpg', size: "", alt: "" , class: 'lazyloaded'
              .mypage-item-body
                .mypage-item-text
                  「偽物にんにくサプリメント」を購入しました。
                     %span
                       取引が完了しました
                .mypage-item-status.bold.done
                  取引完了
              %i.icon-arrow-right 
                \::before
          %li
            =link_to "#", class: 'mypage-item-list' do 
              %figure
                = image_tag '/goods_sample_3.jpg', size: "", alt: "" , class: 'lazyloaded'
              .mypage-item-body
                .mypage-item-text
                  「偽物にんにくサプリメント」を購入しました。
                     %span
                       取引が完了しました
                .mypage-item-status.bold.done
                  取引完了
              %i.icon-arrow-right 
                \::before
          %li
            =link_to "#", class: 'mypage-item-list' do
              %figure
                = image_tag '/goods_sample_3.jpg', size: "", alt: "" , class: 'lazyloaded'
              .mypage-item-body
                .mypage-item-text
                  「偽物にんにくサプリメント」を購入しました。
                     %span
                       取引が完了しました
                .mypage-item-status.bold.done
                  取引完了
              %i.icon-arrow-right 
                \::before
          %li
            =link_to "#", class: 'mypage-item-list' do
              %figure
                = image_tag '/goods_sample_3.jpg', size: "", alt: "" , class: 'lazyloaded'
              .mypage-item-body
                .mypage-item-text
                  「偽物にんにくサプリメント」を購入しました。
                     %span
                       取引が完了しました
                .mypage-item-status.bold.done
                  取引完了
              %i.icon-arrow-right 
                \::before
          %li
            =link_to "#", class: 'mypage-item-list' do
              %figure
                = image_tag '/goods_sample_3.jpg', size: "", alt: "" , class: 'lazyloaded'
              .mypage-item-body
                .mypage-item-text
                  「偽物にんにくサプリメント」を購入しました。
                     %span
                       取引が完了しました
                .mypage-item-status.bold.done
                  取引完了
              %i.icon-arrow-right 
                \::before
          %li
            =link_to "#", class: 'mypage-item-list' do
              %figure
                = image_tag '/goods_sample_3.jpg', size: "", alt: "" , class: 'lazyloaded'
              .mypage-item-body
                .mypage-item-text
                  「偽物にんにくサプリメント」を購入しました。
                     %span
                       取引が完了しました
                .mypage-item-status.bold.done
                  取引完了
              %i.icon-arrow-right 
                \::before
          %li
            =link_to "#", class: 'mypage-item-list' do
              %figure
                = image_tag '/goods_sample_3.jpg', size: "", alt: "" , class: 'lazyloaded'
              .mypage-item-body
                .mypage-item-text
                  「偽物にんにくサプリメント」を購入しました。
                     %span
                       取引が完了しました
                .mypage-item-status.bold.done
                  取引完了
              %i.icon-arrow-right 
                \::before
          %li
            =link_to "#", class: 'mypage-item-list' do
              %figure
                = image_tag '/goods_sample_3.jpg', size: "", alt: "" , class: 'lazyloaded'
              .mypage-item-body
                .mypage-item-text
                  「偽物にんにくサプリメント」を購入しました。
                     %span
                       取引が完了しました
                .mypage-item-status.bold.done
                  取引完了
              %i.icon-arrow-right 
                \::before
          %li
            =link_to "#", class: 'mypage-item-list' do
              %figure
                = image_tag '/goods_sample_3.jpg', size: "", alt: "" , class: 'lazyloaded'
              .mypage-item-body
                .mypage-item-text
                  「偽物にんにくサプリメント」を購入しました。
                     %span
                       取引が完了しました
                .mypage-item-status.bold.done
                  取引完了
              %i.icon-arrow-right 
                \::before
          %li
            =link_to "#", class: 'mypage-item-list' do
              %figure
                = image_tag '/goods_sample_3.jpg', size: "", alt: "" , class: 'lazyloaded'
              .mypage-item-body
                .mypage-item-text
                  「偽物にんにくサプリメント」を購入しました。
                     %span
                       取引が完了しました
                .mypage-item-status.bold.done
                  取引完了
              %i.icon-arrow-right 
                \::before
          %li
            =link_to "#", class: 'mypage-item-list' do
              %figure
                = image_tag '/goods_sample_3.jpg', size: "", alt: "" , class: 'lazyloaded'
              .mypage-item-body
                .mypage-item-text
                  「偽物にんにくサプリメント」を購入しました。
                     %span
                       取引が完了しました
                .mypage-item-status.bold.done
                  取引完了
              %i.icon-arrow-right 
                \::before
          %li
            =link_to "#", class: 'mypage-item-list' do
              %figure
                = image_tag '/goods_sample_3.jpg', size: "", alt: "" , class: 'lazyloaded'
              .mypage-item-body
                .mypage-item-text
                  「偽物にんにくサプリメント」を購入しました。
                     %span
                       取引が完了しました
                .mypage-item-status.bold.done
                  取引完了
              %i.icon-arrow-right 
                \::before
          %li
            =link_to "#", class: 'mypage-item-list' do
              %figure
                = image_tag '/goods_sample_3.jpg', size: "", alt: "" , class: 'lazyloaded'
              .mypage-item-body
                .mypage-item-text
                  「偽物にんにくサプリメント」を購入しました。
                     %span
                       取引が完了しました
                .mypage-item-status.bold.done
                  取引完了
              %i.icon-arrow-right 
                \::before
          %li
            =link_to "#", class: 'mypage-item-list' do
              %figure
                = image_tag '/goods_sample_3.jpg', size: "", alt: "" , class: 'lazyloaded'
              .mypage-item-body
                .mypage-item-text
                  「偽物にんにくサプリメント」を購入しました。
                     %span
                       取引が完了しました
                .mypage-item-status.bold.done
                  取引完了
              %i.icon-arrow-right 
                \::before

    %ul.pager
      %li.pager-num 
        %ul 
          %li.pager-cell.active
            1
          %li.pager-cell 
            =link_to "#"
              2
      %li.pager-next.visible-pc
        %ul
          %li.pager-cell 
            %link_to "#"
              %i.icon-arrow-right
          %li.pager-cell 
            %link_to "#"
              %i.icon-arrow-right