.login-header-wrapper
  = render 'shared/login-header5'
  .signup5-contents
    .signup5-contents__head
      会員登録完了
    .signup5-contents__form
      .signup5-contents__form__title1
        %p 
        ありがとうございます。
        %br
        会員登録が完了しました。
      =link_to root_path, class:"signup5-contents__form__btn" do
        メルカリをはじめる

  .signup5-contents
    =link_to "aaa" do
      %img{ class:"cintents__image", alt:"", src:"//www-mercari-jp.akamaized.net/assets/img/signup/jp/banner-pc.jpg?2482339763",width:"560"}/
  
  %footer.confirmation-footer
    %ul.confirmation-footer-container
      %li.confirmation-footer-container__list
        =link_to '#', class: 'confirmation-footer-container__list__info' do
          プライバシーポリシー
      %li.confirmation-footer-container__list
        =link_to '#', class: 'confirmation-footer-container__list__info' do
          メルカリ利用規約
      %li.confirmation-footer-container__list
        =link_to '#', class: 'confirmation-footer-container__list__info' do
          特定商取引に関する表記

      = image_tag '/mercari-logo-gray.svg', size: "", alt: "mercari-logo-gray" , class: 'confirmation-footer-container__image'

    .confirmation-footer-container__footer-text
      ©︎2019 Mercari
