-# 〜〜〜〜〜ここから中段エリア〜〜〜〜〜
.middle
  .middle__main
    .middle__main__slide
      %img.middle__main__slide__area{alt: "slidepage", src:"/merucari_top1.png"}
    .middle__main__category
      %h2.middle__main__category__text
        人気のカテゴリー
        .middle__main__category__under
          %ul.middle__main__category__under__area
            %li.middle__main__category__under__area__a
              %a.middle__main__category__under__area__a__1{href: "#"}レディース
              %a.middle__main__category__under__area__a__2{href: "#"}メンズ
              %a.middle__main__category__under__area__a__3{href: "#"}家電・スマホ・カメラ
              %a.middle__main__category__under__area__a__4{href: "#"}おもちゃ・ホビー・グッズ
    .middle__main__block
      .middle__main__block__item
        .middle__main__block__item__top
          %h3.middle__main__block__item__top__left
            レディース新着アイテム
          %a{herf: '#', class: 'middle__main__block__item__top__right'}
            もっと見る
            %i.fas.fa-chevron-right
        .middle__main__block__item__area
          .middle__main__block__item__area__split
            .middle__main__block__item__area__a
              %a.middle__main__block__item__area__1
                .product
                  .product__upper
                    .product__upper__text{style: ""}
                      サンプル
                      .product__under__text__after
                  .product__under
                    .product__under__price{price: ""}
                    ¥
                    900
                    %img.product__under__img{alt: "product", src:"/radeis_sample1.jpg"}



.exhibit_btn
.a_area

-# =link_to "aaa", class:"middle__main__category__text__1" do
-#   人気のカテゴリー

-# .maintenance{ style: "color:lightgray" }
-#   メンテナンス中

-# .sc-jtggT.foNpXE
  -# %h2.style_heading__3qSF6.common_fontFamily__3-3Si.style_responsiveLv1__3ygH4.sc-ebFjAB.fQfbaq 人気のカテゴリー
-#   .sc-jKVCRD.hFxLoS
-#     %ul.sc-kaNhvL.ivyWUP
-#       %li.sc-LKuAh.hIBODe
-#         %a.sc-iBEsjs.sc-hzNEM.gDalvy レディース
-#         %a.sc-iBEsjs.sc-chbbiW.hOgtHt レディース
-#       %li.sc-LKuAh.hIBODe
-#         %a.sc-iBEsjs.sc-hzNEM.gDalvy メンズ
-#         %a.sc-iBEsjs.sc-chbbiW.hOgtHt メンズ
-#       %li.sc-LKuAh.hIBODe
-#         %a.sc-iBEsjs.sc-hzNEM.gDalvy 家電・スマホ・カメラ
-#         %a.sc-iBEsjs.sc-chbbiW.hOgtHt 家電・スマホ・カメラ
-#       %li.sc-LKuAh.hIBODe
-#         %a.sc-iBEsjs.sc-hzNEM.gDalvy おもちゃ・ホビー・グッズ
-#         %a.sc-iBEsjs.sc-chbbiW.hOgtHt おもちゃ・ホビー・グッズ
-# .sc-cooIXK.RhaiD
-#   .sc-fcdeBU.gynzDk
-#     .sc-kxynE.knuEY.sc-iGrrsa.kDCCFE{:name => "scroll-1"}
-#       %h3.style_heading__3qSF6.common_fontFamily__3-3Si.style_responsiveLv2__3K0hn.sc-bmyXtO.llCUnU レディース新着アイテム
-#       %a.sc-dEoRIm.hiMoUc{:href => "/jp/category/1/"} もっと見る