%main.l-container.clearfix 
  .l-content 
    %section.mypage-tab-container
      %h2.mypage-tab-head 
        評価一覧
      %ul.review-history-tabs
        %li. 
          %h3 
            =link_to "#" do
              すべて
        %li. 
          %h3 
            =link_to "#", data-toggle: "tab" do
              %div 
                %i.icon-normal 
                  \::before 
                良い
        %li.
          %h3 
            =link_to "#", data-toggle: "tab" do
              %div.active
                %i.icon-normal
                  \::before 
                普通
        %li.
          %h3 
            =link_to "#", data-toggle: "tab" do
              %div 
                %i.icon-bad
                  \::before 
                悪い
      .tab-content 
        %ul.mypage-item-list 
          %li
            =link_to "#", class: 'mypage-item-link' do
              %figure
                = image_tag '/user_image_sample_xx.jpeg', size: "", alt: "" , class: 'lazyloaded'
              .mypage-item-body
                .mypage-item-text 
                  %i.icon-normal 
                    \::before
                  購入者
                .mypage-item-text
                  DIV
                .mypage-item-text 
                .mypage-item-text 
                  %i.icon-time 
                    \::before 
                  2019年8月31日 19:00
                %i.icon-arrow-right 
                  \::before
          %li
            =link_to "#", class: 'mypage-item-link' do 
              %figure
                = image_tag '/user_image_sample_xx.jpeg', size: "", alt: "" , class: 'lazyloaded'
              .mypage-item-body
                .mypage-item-text 
                  %i.icon-normal 
                    \::before
                  購入者
                .mypage-item-text
                  DIV
                .mypage-item-text 
                mypage-item-text 
                  %i.icon-time 
                    \::before 
                  2019年8月31日 19:00
                %i.icon-arrow-right 
                  \::before
          %li
            =link_to "#", class: 'mypage-item-link' do
              %figure
                = image_tag '/user_image_sample_xx.jpeg', size: "", alt: "" , class: 'lazyloaded'
              .mypage-item-body
                .mypage-item-text 
                  %i.icon-normal 
                    \::before
                  購入者
                .mypage-item-text
                  DIV
                .mypage-item-text 
                .mypage-item-text 
                  %i.icon-time 
                    \::before 
                  2019年8月31日 19:00
                %i.icon-arrow-right 
                  \::before

    %ul.mypage-history.pager
      %li.pager-prev.pager-cell
        =link_to "#" do
          %i.icon-arrow-left 
            \::before
      %li.pager-prev.pager-cell
        =link_to "#" do
          %i.icon-arrow-right 
            \::before