.chapter-head {
  background-color: #fff;
  height: 30px;
  font-size: 20px;
  font-weight: bold;
  padding: 8px 24px;
  border-bottom: 1px solid #f5f5f5;
  text-align: center;
}
.setting-profile-icon {
  display: flex;
  justify-content: center;
  padding: 72px 16px 24px;
  background-color: azure;
}
.setting-profile-head {
  height: 48px;
  margin: 0 10px 0 0;
}
.setting-profile-input {
  height: 28px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
}
.setting-profile-content {
  background-color: #fff;
  padding: 40px 16px;
}
.textarea-default {
  width: 100%;
  min-height: 216px;
}
.settimg-profile-btn {
  margin-top: 10px;
  width: 100%;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  line-height: 40px;
}