.header{
    position: relative;
    color: rgb(51, 51, 51);
    background-color: rgb(245, 245, 245);
    font-family: Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
    font-size: 14px;
    background-color: rgb(255, 255, 255);
    position: relative;
    display: block;
      &__main{
        width: 1020px;
        margin: 0px auto;
        padding: 4px 0px 0px;
        box-sizing: border-box;
        display: block;
      }
        &__upper{
            display: flex;
            justify-content: space-between;
            box-sizing: border-box;
            background-color: rgb(255, 255, 255);
            margin: 0px auto;
            padding: 8px 0px 0px;
            vertical-align: baseline;    
            border-width: 0px;
            font: inherit;
          &__left{
              align-items: center;
              display: flex;
              margin-right: 45px;
              &__a{
                color: inherit;
                text-decoration: none;
              }
              &__img{
                height: 36px;
                width: 134px;
              }
          }
          &__right{
            position: relative;
            width: 100%;
              &__in{
                background-color: rgb(245, 245, 245);
                font-size: 16px;
                height: 40px;
                line-height: 1.4em;
                position: relative;
                width: 100%;
                -webkit-appearance: none;
                border-width: 1px;
                border-style: solid;
                border-color: rgb(204, 204, 204);
                border-image: initial;
                border-radius: 4px;
                outline: none;
                padding: 0px 50px 0px 10px;
                transition: all 0.3s ease-out 0s;
                font-family: inherit;
              }
              &__icon{
                font-size: 18px;
                cursor: pointer;
                position: absolute;
                top:  24px;
                left: 1200px;
              }
            }
          }
        &__under{
            margin: 0 200px;
            display: flex;
            justify-content: space-between;
            &__left{
              display: flex;
              justify-content: space-between;
              margin-top: 18px;
                &__list-icon{
                  color: red;
                  float: left;
                  font-size: 14px;
                  &__text{
                    margin-left: 6px;
                    float: right;
                    color: black;
                  }
                }
              &__tag-icon{
                color: red;
                float: left;
                font-size: 14px;
                &__text{
                  margin-left: 6px;
                  float: right;
                  color: black;
                }
              }
            }            
            &__right{
              margin-top: 8px;
              display: flex;
            
              &__register-button{
                text-align: center;

                &__text{
                  height: 14px;
                  background-color: rgb(234, 53, 45);
                  color: rgb(255, 255, 255);
                  display: block;
                  font-size: 14px;
                  border-width: 1px;
                  border-style: solid;
                  border-color: rgb(234, 53, 45);
                  border-image: initial;
                  border-radius: 4px;
                  padding: 8px 10px;
                  text-decoration: none;
                  line-height: 15px;

                }
              }
              &__login-button{
                text-align: center;
                margin-left: 11px;
                &__text{
                  height: 14px;
                  background-color: rgb(255, 255, 255);
                  color: rgb(0, 149, 238);
                  display: block;
                  font-size: 14px;
                  border-width: 1px;
                  border-style: solid;
                  border-color: rgb(0, 149, 238);
                  border-image: initial;
                  border-radius: 4px;
                  padding: 8px 10px;
                  transition: all 0.3s ease-out 0s;
                  text-decoration: none;
                  line-height: 15px;
                }
              }
            }
          }
}

.brand-list-box{
  margin-left: 24px;
}