.block_area_product {
  height: 252px;
  width: 188px;
  margin: 0 0 20px 12px;
  box-sizing: border-box;
  display: inline-block;
  filter: drop-shadow(2px 3px 2px rgba(171, 168, 168, 0.6));
  .goods_images_show {
    height: 187px;
    width: 188px;
    position: absolute;
    bottom: 0;
    z-index: 1;
  }
  &__good-pic_price_box {
    height: 188px;
    width: 188px;
    position: relative;
    &__price {
      width: 80px;
      height: 30px;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      background: rgba(0,0,0,.4);
      color: white;
      font-size: 17px;
      box-sizing: border-box;
      padding: 5px 0px 5px 10px;
      position: absolute;
      left: 0px;
      bottom: 10px;
      z-index: 1;
    }
  }
  &__title {
    width: 188px;
    height: 64px;
    color: black;
    background: white;
    padding: 12px 12px;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
.block_area_product:hover {
  outline: 2.2px solid #1E90FF;
  outline-offset: -2.2px solid #1E90FF;
}