.contents {
  height: 330px;
  width: 600px;
  margin: 0 auto;
  background-color: whitesmoke;
  &__head{
    font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
    padding: 25px;
    color: black;
    font-size:18px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #fff;
  }
  &__btn{
    display: block;
    height: 40px;
    width : 300px;
    margin: 25px auto;
    border-radius: 5px;
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    &--1{
      background-color: #ea352d;
      position: relative;
    }
    .far.fa-envelope {
      display: flex;
      font-size: 18px;
      position: absolute;
      line-height: 40px;
      padding-left: 20px;
    }
    &--2{
      background: #385185;
      position: relative;
    }
    .fab.fa-facebook-square {
      display: flex;
      font-size: 18px;
      position: absolute;
      line-height: 40px;
      padding-left: 20px;
    }
    &--3{
      background-color: #fff;
      color: black;
      border: 1px solid black;
      position: relative;
    }
    .fab.fa-google {
      display: flex;
      font-size: 18px;
      position: absolute;
      line-height: 40px;
      padding-left: 20px;
    }
  }
}
