<img id="mypic" src="merucari_top1.png" width="100%" height="400">
<input type="button" value="開始" onclick="start()">

-# <img id="mypic" src="user-bck_image.jpg" width="100%" height="400">
-# ハムルの記述配下に
-# %img#mypic{:height => "400", :src => "merucari_top1.png", :width => "100%"}/
-# %input{:onclick => "start()", :type => "button", :value => "開始"}/
