.contents
  .contents__head
    新規会員登録
  .contents__btn
    =link_to "aaa", class:"contents__btn contents__btn--1" do
      %i.far.fa-envelope
      メールアドレスで登録する
    =link_to "aaa", class:"contents__btn contents__btn--2" do
      %i.fab.fa-facebook-square
      Facebookで登録する
    =link_to "aaa", class:"contents__btn contents__btn--3" do
      %img{ src:"https://img.icons8.com/color/20/000000/google-logo.png", class:"googlelogo" }
      Googleで登録する
      